#main-canvas,
#starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#main-canvas { z-index: 1; }
#starfield   { z-index: 2; pointer-events: none; }
